body{
	font-family: Monospace!important;
	font-size: medium;;
    background-color: black;
	width:100%;
	margin: 0;
	padding: 0;
	/*font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;*/
}


input[type=checkbox]{
	display: none;
}

input[type=checkbox] + label{
color: white;
}

p{
color: white;
}

input[type=checkbox] + label>span{
	display:inline-block;
    width:18px;
    height:18px;
    margin:-1px 4px 0 0;
    vertical-align:text-top;
    background:url('images/check_radio_sheet.png') left top no-repeat;
}

input[type=checkbox]:checked + label>span{
    background:url('images/check_radio_sheet.png') -19px top no-repeat;
}

label span{
cursor:pointer;
}

input[type="radio"] +label>span{
background-color: #002E4C;
color: white;
}

input[type="radio"]:checked +label>span{
background-color: #8096A6;
color: white;
}

svg{
	fill:#FCFCFC;
	margin-left: auto;
	margin-right:auto;
	display: block;
	position: relative;
	z-index: 3;
}

#wrap {
width: 90%;
position: relative;
}

#graph{
margin: 0 auto;
min-width: 45%;
}

#graphTitle{
	margin: 10px;
	vertical-align: sub;
	font-size: 25px;
	color: white;
	font-family: Verdana, "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#tooltipTitle{
	font-size: 25px;
	color: rgb(43,117,237);
	text-align: center;
	font-weight: bold;
	margin:5px; 
}

#selectRadio{
float: left;
width: auto;
}

#checkboxFilters{
	float: left;
	position: relative;
	font-family: Verdana, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-right: 15%;
}

.searchList{
	display:inline-block;
	padding-top: 10px;
	font-family: Verdana, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: left;
	margin-left: 10px;
}

.disease-category, .top-toxicants, .top-diseases{
    display: none;
	position: absolute;
	z-index: 5;
	background-color: #002E4C;
	border: 2px solid;
	border-radius: 5px;
	border-color: #8096A6;
	width: 200px;
	font-family: Verdana, "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: left;
}

.checkbox, .toptoxicants, .topdiseases{
color: white;
cursor: pointer;
}

p.toptoxicants, p.topdiseases, p.checkbox{
	border: 2px solid;
	border-radius: 5px;
	border-color: #8096A6;
	background-color: #002E4C;
}

#toxicantList, #diseaseList{
float: left;
margin-top: -5px;
position: relative;
font-family: Verdana, "Palatino Linotype", "Book Antiqua", Palatino, serif;
margin-left: 15%;
}

#ADiseases{
background-color: #002E4C;
}

#wrap{
display: inline-block;
margin: auto 0;
}

.clearBoth {
clear: both;
}

.ms-parent{
	width: 200px!important;
}

.qtip2Css{
	font-size: 20px;
	/**opacity: 0.7;**/
	text-align: center;
	color: rgb(43,117,237);
}

.axislabels{
	font-weight: bold;
	font-size: 20px;
}

#bubble-background{
fill: none;
}

div>span{
color: white;
}

footer{
background-color: #8096A6;
text-align: right;
font-family: Verdana, 'Tangerine', serif;
color: #000052;
font-weight: bold;
border: 2px solid;
border-color: #002E4C
}

img{
border: 2px solid;
border-radius: 40px;
border-color: #8096A6;
}


/* Make top lists scrollable */
.top-toxicants, .top-diseases{
  display: block; 
  overflow-y: auto;
  height: 600px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px)
{    /* phones */
	#checkboxFilters{
		margin-right: 1%;
	}
	#toxicantList,#diseaseList{
		margin-left: 1%;
	}
}


* { font-family: Verdana; }
 
